/*  
color : #149ddd



*/



#hero {
    background-color: #01ADFA;

}
#hero h1  {
    color:  #E5DAE9;
    padding: 10px;
    font-size: 100px;
    font-family: 'Tajawal', sans-serif;
}
#hero p {
    font-size: 50px;
    margin-top: 50px;
    font-family: 'Tajawal', sans-serif;
}
#hero p span {
    padding-left: 10px;
    margin: 10px;
    border-bottom: 0px ;
}
.hero-container {
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 20px;
    
}






